.word {
    display: flex;

}
.letter {
    margin-left: 1vw;
    background-color: black;
    color: black;
    width: 4vw;
    height: 4vw
}

section > div {
    width: 20px;
    margin: 10px 2px;
}

.bg-black {
    background-color: black;
}